<?xml version="1.0"?>
<configuration>
	<connectionStrings/>
	<system.web>
		<httpRuntime maxRequestLength="5000"/>

		<compilation debug="true" targetFramework="4.0">
		</compilation>
  </system.web>
  
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="FileServiceBehavior">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<!--<customBinding>
				<binding name="customBinding0">
					<binaryMessageEncoding/>
					<httpTransport
            maxBufferPoolSize="2147483647"  
            maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
				</binding>
			</customBinding>-->
			<basicHttpBinding>
				<binding name="customBinding0" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service behaviorConfiguration="FileServiceBehavior" name="FileService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="customBinding0" contract="FileService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
